body{
    background-color: #e57373;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.calculator {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5fa8d3;
}

.output {
    grid-column: span 4;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.98);
}

/* Light theme styles */
.light-theme .calculator {
    /*background-color: #f0f0f0;*/
    background-color: rgb(135, 85, 102);
}

.light-theme .output {
    background-color: #ffffff;
    color: #000000;
}

.light-theme button {
    background-color: #e0e0e0;
    color: #000000;
}

.light-theme .clear-btn {
    background-color: #ff6666;
}

.light-theme .delete {
    background-color: #ffa500;
}

.light-theme .operation {
    background-color: #5fa8d3;
}

.light-theme .submit-btn {
    background-color: #66bb6a;
}

/* Dark theme styles */
.dark-theme .calculator {
    background-color: #333333;
}

.dark-theme .output {
    background-color: #222222;
    color: #ffffff;
}

.dark-theme button {
    background-color: #555555;
    color: #ffffff;
}

.dark-theme .clear-btn {
    background-color: #e57373;
}

.dark-theme .delete {
    background-color: #ff9800;
}

.dark-theme .operation {
    background-color: #42a5f5;
}

.dark-theme .submit-btn {
    background-color: #66bb6a;
}


#theme-toggle{
    width: 200px;
    height: 40px;
    font-size: 10px;
    margin-bottom: 60px;
}